{% extends 'Base/basefile.html' %}{% block title %} Air India Institute | India's leading Aviation &
Tourism Management Institute{% endblock %}{% block metadescription %}
<meta name="description" content="" />
<meta name="tittle" content="" />
<meta name="keywords" content="" />
{%endblock %} {% block body %}  

   
      <div class="hero__content">
        <div class="container">
          <div class="row g-3 justify-content-center">
            <div class="col-lg-10 text-center">
              <h1 class="hero__content-title text-capitalize t-text-white">
                Who We Are
              </h1>
              <ul class="list list--row breadcrumbs justify-content-center">
                <li class="list--row__item breadcrumbs__item">
                  <a
                    href="/"
                    class="
                      t-link
                      breadcrumbs__link
                      text-uppercase
                      t-text-white
                      t-link--primary
                    "
                    >home</a
                  >
                </li>
                <li class="list--row__item breadcrumbs__item">
                  <a
                    href="{% url 'Home:about' %}"
                    class="
                      t-link
                      breadcrumbs__link
                      text-uppercase
                      t-text-white
                      t-link--primary
                    "
                    >about</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Client Section  -->
    <!-- <div class="section--sm section--top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="client-slider">
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-1.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-2.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-3.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-4.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-5.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
              <div class="client-slider__item">
                <img
                  src="/static/assets/img/client-3.png"
                  alt="viserfly"
                  class="img-fluid mx-auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Client Section End -->

    <!-- About Section  -->
    <section class="section--sm">
      <div class="container">
        <div
          class="
            row
            justify-content-center
            align-items-lg-center
            justify-content-xl-between
          "
        >
          <div class="col-md-10 col-lg-6 col-xl-5 text-center text-lg-start">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-lg-start
              "
            >
              <div class="vf-custom-icon me-2 flex-shrink-0">
                <img
                  src="/static/assets/img/icon-plane.png"
                  alt="viserfly"
                  class="img-fluid"
                />
              </div>
              <p class="mb-0 text-capitalize text--primary xxl-text">about</p>
            </div>
            <h2>We’re here to make your dreams come true!</h2>
            <p class="t-short-para" style="text-align: justify;">
              Welcome to the Aviation Institute, your gateway to a successful career in the aviation industry. We are a premier educational institution dedicated to providing comprehensive training and knowledge to aspiring aviation professionals. With our state-of-the-art facilities and experienced faculty, we aim to equip our students with the skills and expertise necessary to excel in this dynamic and fast-paced industry.
            </p>
            <p class="t-short-para" style="text-align: justify;">
              At the Aviation Institute, we understand the importance of practical training and hands-on experience. Our curriculum is designed to blend theoretical knowledge with real-world applications, ensuring that our students are well-prepared to face the challenges of the aviation industry. Whether you dream of becoming a pilot, an aircraft maintenance technician, an air traffic controller, or a cabin crew member, we have specialized programs tailored to your specific career goals.
            </p>
            <a
              href="contact.html"
              class="t-link btn btn--xl xl-text btn--primary text-capitalize"
            >
              become an pilot
            </a>
          </div>
          <div class="col-lg-12 col-xl-7 d-none d-lg-block">
            <img
              src="/static/assets/img/about-img.png"
              alt="viserfly"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container col-sm-12 ">
        <h3>Why Choose Us?</h3>
        <img src="/static/assets/img/ab23.jpg" alt="about" style="width: 1266px; margin-bottom:9px;">
      <div class="row col-12">
        <p class="t-short-para col-sm-12 " style="text-align: justify;">
          <strong>1. Experienced and Dedicated Faculty:</strong> Our faculty consists of industry professionals with extensive experience in their respective fields. They bring their practical knowledge and expertise into the classroom, providing our students with valuable insights and mentorship.
        </p>
        <p class="t-short-para" style="text-align: justify;">
         <strong>2. Comprehensive Curriculum:</strong>Our curriculum is carefully crafted to cover all aspects of aviation, from the fundamentals to the latest advancements in the industry. We continuously update our courses to align with industry trends, ensuring our students receive the most relevant education.
        </p>
        <p class="t-short-para" style="text-align: justify;">
          <strong>3. State-of-the-Art Facilities:</strong>Our institute is equipped with cutting-edge training facilities, including flight simulators, aircraft maintenance labs, and mock cabin environments. These facilities offer our students a realistic and immersive learning experience.
        </p>
        <p class="t-short-para" style="text-align: justify;">
          <strong>4. Industry Partnerships:</strong>We have established strong partnerships with leading airlines, aviation companies, and regulatory bodies. These collaborations provide our students with valuable networking opportunities, internships, and potential employment prospects upon graduation.
        </p>
        <p class="t-short-para" style="text-align: justify;">
          <strong>5. Career Development Support:</strong>We believe in nurturing our students' career growth. Our dedicated career services team provides guidance in resume building, interview preparation, and job placement assistance. We strive to connect our graduates with reputable employers in the aviation industry.
        </p>
        <p class="t-short-para" style="text-align: justify;">
         <strong>6. Community and Networking:</strong>The Aviation Institute fosters a sense of community among our students. We encourage collaboration, teamwork, and peer-to-peer learning. Through various social events, seminars, and industry guest lectures, we facilitate networking opportunities for our students to connect with professionals and build valuable relationships.
        </p>
        <p class="t-short-para" style="text-align: justify;">
          <strong>7. Commitment to Safety and Excellence:</strong>Safety is paramount in the aviation industry. We instill a strong culture of safety in all our programs, emphasizing the importance of adhering to industry regulations and best practices. Our commitment to excellence ensures that our graduates are prepared to meet the highest standards in their careers.
        </p>
      </div>  
      </div>
    </section>

    <section>
      <!-- <img src="/static/assets/img/abt.jpeg" alt="about" style="float: right;"> -->
      <div class="container">
        <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h3>Join Us Today!</h3>
        <p class="t-short-para" style="text-align: justify;">
          Embark on an exciting journey towards a rewarding aviation career with the Aviation Institute. Whether you're a high school graduate, a working professional looking to switch careers, or an aviation enthusiast seeking to turn your passion into a profession, we have the programs and resources to help you achieve your goals. Explore our courses, meet our faculty, and discover the opportunities that await you in the dynamic world of aviation.
        </p>
        
        <p class="t-short-para" style="text-align: justify;">
          Contact us today to learn more about our programs, admission requirements, and how we can help you soar to new heights in your aviation career.
        </p>
        
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <img src="/static/assets/img/ab25.jpg" class="img-fluid" style="margin-top:79px"/>
        </div>
      </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Trainer Section  -->
    <!-- <section class="section--sm">
      <div class="section__head">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
              <div class="text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div class="vf-custom-icon me-2 flex-shrink-0">
                    <img
                      src="/static/assets/img/icon-plane.png"
                      alt="viserfly"
                      class="img-fluid"
                    />
                  </div>
                  <p class="mb-0 text-capitalize text--primary xxl-text">
                    trainer
                  </p>
                </div>
                <h2 class="text-capitalize">Meet With Our Trainer</h2>
                <p class="t-short-para mx-auto mb-0">
                  Maecenas tempus tellus eget condimentu honemn quam semper
                  libero sit amet adipiscing sem neque sed
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="trainer-slider">
              <div class="trainer-slider__item">
                <div class="team-card">
                  <div class="team-card__img">
                    <img
                      src="/static/assets/img/team-1.jpg"
                      alt="viserfly"
                      class="team-card__img-is"
                    />
                  </div>
                  <div class="team-card__body">
                    <h5
                      class="
                        text-capitalize text-center
                        mt-0
                        mb-2
                        team-card__title
                      "
                    >
                      kuna huggo
                    </h5>
                    <p class="text-center text-capitalize team-card__sub-title">
                      trainer
                    </p>
                    <ul class="list list--row justify-content-center">
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-facebook"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-twitter"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-instagram"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trainer-slider__item">
                <div class="team-card">
                  <div class="team-card__img">
                    <img
                      src="/static/assets/img/team-2.jpg"
                      alt="viserfly"
                      class="team-card__img-is"
                    />
                  </div>
                  <div class="team-card__body">
                    <h5
                      class="
                        text-capitalize text-center
                        mt-0
                        mb-2
                        team-card__title
                      "
                    >
                      Robart Williams
                    </h5>
                    <p class="text-center text-capitalize team-card__sub-title">
                      trainer
                    </p>
                    <ul class="list list--row justify-content-center">
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-facebook"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-twitter"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-instagram"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trainer-slider__item">
                <div class="team-card">
                  <div class="team-card__img">
                    <img
                      src="/static/assets/img/team-3.jpg"
                      alt="viserfly"
                      class="team-card__img-is"
                    />
                  </div>
                  <div class="team-card__body">
                    <h5
                      class="
                        text-capitalize text-center
                        mt-0
                        mb-2
                        team-card__title
                      "
                    >
                      Tomas Kishan
                    </h5>
                    <p class="text-center text-capitalize team-card__sub-title">
                      trainer
                    </p>
                    <ul class="list list--row justify-content-center">
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-facebook"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-twitter"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-instagram"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trainer-slider__item">
                <div class="team-card">
                  <div class="team-card__img">
                    <img
                      src="/static/assets/img/team-4.jpg"
                      alt="viserfly"
                      class="team-card__img-is"
                    />
                  </div>
                  <div class="team-card__body">
                    <h5
                      class="
                        text-capitalize text-center
                        mt-0
                        mb-2
                        team-card__title
                      "
                    >
                      Divas Kings
                    </h5>
                    <p class="text-center text-capitalize team-card__sub-title">
                      trainer
                    </p>
                    <ul class="list list--row justify-content-center">
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-facebook"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-twitter"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-instagram"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trainer-slider__item">
                <div class="team-card">
                  <div class="team-card__img">
                    <img
                      src="/static/assets/img/team-5.jpg"
                      alt="viserfly"
                      class="team-card__img-is"
                    />
                  </div>
                  <div class="team-card__body">
                    <h5
                      class="
                        text-capitalize text-center
                        mt-0
                        mb-2
                        team-card__title
                      "
                    >
                      kuna huggo
                    </h5>
                    <p class="text-center text-capitalize team-card__sub-title">
                      trainer
                    </p>
                    <ul class="list list--row justify-content-center">
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-facebook"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-twitter"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-instagram"></i>
                        </a>
                      </li>
                      <li class="list--row__item-sm">
                        <a href="#" class="t-link social-icon">
                          <i class="bx bxl-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Trainer Section End -->

    <!-- Feature Section  -->
    <section class="section--sm section--bottom">
      <div class="container">
        <div
          class="
            row
            justify-content-center
            align-items-lg-center
            justify-content-xl-between
          "
        >
          <div class="col-md-10 col-lg-6">
            <div class="text-center text-lg-start">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-center justify-content-lg-start
                "
              >
                <div class="vf-custom-icon me-2 flex-shrink-0">
                  <img
                    src="/static/assets/img/icon-plane.png"
                    alt="viserfly"
                    class="img-fluid"
                  />
                </div>
                <p class="mb-0 text-capitalize text--primary xxl-text">
                  features
                </p>
              </div>
              <h2>Choose Our Best Aeronautics Academy</h2>
              <p class="t-short-para" style="text-align: justify;">
                If your heart soars at the sight of airplanes and you dream of a career in the sky, choosing the right aeronautics academy is a crucial step towards realizing your aviation aspirations. With numerous options available, it's important to select an academy that aligns with your goals, provides top-notch training, and sets you up for success in the dynamic aviation industry. 
              </p>
            </div>
            <div class="t-mt-40">
              <div class="row g-4 g-xxl-5">
                <div class="col-md-6">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div
                        class="
                          icon icon--circle icon--lg
                          bg--primary
                          t-text-white
                        "
                      >
                        <i class="bx bx-bus"></i>
                      </div>
                    </div>
                    <div class="ms-3">
                      <p class="mb-2 fw-bold text-capitalize t-text-heading">
                        Unparalleled Expertise
                      </p>
                      <p class="mb-0" style="text-align: justify;">
                        At our academy, we boast a team of seasoned instructors and industry professionals who bring a wealth of knowledge and experience to the table. Our instructors have extensive backgrounds in aviation and are committed to providing the highest quality education and training.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div
                        class="
                          icon icon--circle icon--lg
                          bg--primary
                          t-text-white
                        "
                      >
                        <i class="bx bx-chat"></i>
                      </div>
                    </div>
                    <div class="ms-3">
                      <p class="mb-2 fw-bold text-capitalize t-text-heading">
                        State-of-the-Art Facilities:
                      </p>
                      <p class="mb-0" style="text-align: justify;">
                        Our commitment to maintaining modern facilities ensures that you receive the best possible training experience, enhancing your skills and knowledge in a realistic and immersive setting.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div
                        class="
                          icon icon--circle icon--lg
                          bg--primary
                          t-text-white
                        "
                      >
                        <i class="bx bx-home-heart"></i>
                      </div>
                    </div>
                    <div class="ms-3">
                      <p class="mb-2 fw-bold text-capitalize t-text-heading">
                        Hostel & Health Care
                      </p>
                      <p class="mb-0" style="text-align: justify;">
                        Safety is paramount in the aviation industry, and our academy prioritizes it above all else. We adhere to stringent safety protocols and comply with industry regulations to ensure that you receive training in a safe and controlled environment. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div
                        class="
                          icon icon--circle icon--lg
                          bg--primary
                          t-text-white
                        "
                      >
                        <i class="bx bx-calendar-event"></i>
                      </div>
                    </div>
                    <div class="ms-3">
                      <p class="mb-2 fw-bold text-capitalize t-text-heading">
                        Diverse Range of Programs:
                      </p>
                      <p class="mb-0" style="text-align: justify;">
                        Whether you aspire to be a pilot, aircraft engineer, air traffic controller, or aviation manager, our academy offers a diverse range of programs to cater to various career paths in the aviation industry.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6 d-none d-lg-block">
            <img
              src="/static/assets/img/about-feat-img.png"
              alt="viserfly"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Feature Section End -->

    <!-- FAQ  -->
   
    <!-- FAQ End -->

    <!-- Feedback Section  -->
    <div class="section">
      <div class="section__head">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
              <div class="text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div class="vf-custom-icon me-2 flex-shrink-0">
                    <img
                      src="/static/assets/img/icon-plane.png"
                      alt="viserfly"
                      class="img-fluid"
                    />
                  </div>
                  <p class="mb-0 text-capitalize text--primary xxl-text">
                    feedback
                  </p>
                </div>
                <h2 class="text-capitalize">What Say Our Student</h2>
                <p class="t-short-para mx-auto mb-0">
                  At <strong>Droon Aviation Institute</strong>, our students are the heart and soul of our institution. Their dedication, passion, and success are the true reflections of the quality education and training we provide. Here are a few testimonials from our students who have experienced firsthand the transformative journey of learning and growth at our academy:
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="feedback-slider">
              <div class="feedback-slider__item">
                <div class="feedback-card bg--light-1">
                  <div class="feedback-card__profile mb-4">
                    <img
                      src="/static/assets/img/vipin.jpeg"
                      alt="viserfly"
                      class="feedback-card__profile-img flex-shrink-0"
                    />
                    <div class="feedback-card__profile-info">
                      <p
                        class="
                          feedback-card__profile-name
                          fw-md
                          text-capitalize
                          mb-0
                        "
                      >
                         Vipin Diwakar
                      </p>
                      <p class="mb-0 text-capitalize">Student , India</p>
                    </div>
                  </div>
                  <p class="feedback-card__comment">
                    "Enrolling in <strong>Droon Aviation Institute</strong> was the best decision I made for my aviation career. The comprehensive pilot training program equipped me with the skills and knowledge necessary to confidently take to the skies. 
                  </p>
                  <ul class="list list--row">
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="feedback-slider__item">
                <div class="feedback-card bg--light-1">
                  <div class="feedback-card__profile mb-4">
                    <img
                      src="/static/assets/img/Akhil.jpg"
                      alt="viserfly"
                      class="feedback-card__profile-img flex-shrink-0"
                    />
                    <div class="feedback-card__profile-info">
                      <p
                        class="
                          feedback-card__profile-name
                          fw-md
                          text-capitalize
                          mb-0
                        "
                      >
                        Rahul Aggarwal
                      </p>
                      <p class="mb-0 text-capitalize">Student , India</p>
                    </div>
                  </div>
                  <p class="feedback-card__comment">
                    "The aviation management program at <strong>Droon Aviation Institute
                    </strong> opened doors to exciting career opportunities for me.
                  </p>
                  <ul class="list list--row">
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="feedback-slider__item">
                <div class="feedback-card bg--light-1">
                  <div class="feedback-card__profile mb-4">
                    <img
                      src="/static/assets/img/pt1.jpg"
                      alt="viserfly"
                      class="feedback-card__profile-img flex-shrink-0"
                    />
                    <div class="feedback-card__profile-info">
                      <p
                        class="
                          feedback-card__profile-name
                          fw-md
                          text-capitalize
                          mb-0
                        "
                      >
                        Kisan Rout
                      </p>
                      <p class="mb-0 text-capitalize">Student , India</p>
                    </div>
                  </div>
                  <p class="feedback-card__comment">
                    "I am grateful for the exceptional training I received at <strong>Droon Aviation Institute</strong> as an aircraft maintenance student. 
                  </p>
                  <ul class="list list--row">
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="feedback-slider__item">
                <div class="feedback-card bg--light-1">
                  <div class="feedback-card__profile mb-4">
                    <img
                      src="/static/assets/img/pt2.jpg"
                      alt="viserfly"
                      class="feedback-card__profile-img flex-shrink-0"
                    />
                    <div class="feedback-card__profile-info">
                      <p
                        class="
                          feedback-card__profile-name
                          fw-md
                          text-capitalize
                          mb-0
                        "
                      >
                        Mariya Khan
                      </p>
                      <p class="mb-0 text-capitalize">Student , India</p>
                    </div>
                  </div>
                  <p class="feedback-card__comment">
                    "Studying air traffic control at <strong>Droon Aviation Institute</strong> was an incredible journey. The program covered theoretical concepts, simulations, and practical training, preparing me for the fast-paced and dynamic nature of the field. 
                  </p>
                  <ul class="list list--row">
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="feedback-slider__item">
                <div class="feedback-card bg--light-1">
                  <div class="feedback-card__profile mb-4">
                    <img
                      src="/static/assets/img/pt3.jpg"
                      alt="viserfly"
                      class="feedback-card__profile-img flex-shrink-0"
                    />
                    <div class="feedback-card__profile-info">
                      <p
                        class="
                          feedback-card__profile-name
                          fw-md
                          text-capitalize
                          mb-0
                        "
                      >
                        Jay Saini
                      </p>
                      <p class="mb-0 text-capitalize">Student , India</p>
                    </div>
                  </div>
                  <p class="feedback-card__comment">
                    Today, I am working in a busy international airport, guiding flights safely through the skies. I owe my success to the excellent education I received at <strong>Droon Aviation Institute</strong>."
                  </p>
                  <ul class="list list--row">
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                    <li class="list--row__item-sm">
                      <span class="d-inline-block text--warning">
                        <i class="bx bxs-star"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feedback Section End -->

    <!-- CTA  -->
   
    <!-- CTA End -->

    <!-- Blog Section  -->
   
    <!-- Blog Section End -->

    <!-- CTA  -->
    {% endblock %}
   